html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

#app{
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}

div:focus {
    outline: none;
}

.clearfix::after {
    content: "";
    clear: both;
    visibility: hidden;
    height: 0;
    display: block;
}

ol,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.forbid{
    cursor: not-allowed;
}
